<section id="Ranking" class="promotion acompanhamento-row">
    <div class="wrapper">    
        <div  class="container">    
            <div class="row">
                <div class="col-lg-9 col-md-9 col-sm-12 mx-auto text-center">
                    <h2 class="section-heading acompanhamento-title">Acompanhe sua pontuação</h2>
                </div>
            </div> 
            
            <div class="row">
                <div class="col-md-8 col-sm-12 mx-auto text-center">
                    <label>    
                        <div class="search">
                            <img src="images/lupe.png" alt="Lupa">
                            <input type="text" placeholder="Buscar" ng-model="search" ng-change="resetIndex">
                        </div>
                    </label>
                </div>        
            </div> 
        </div>

        <section id="ranking">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 mx-auto text-center table-wrapper">
                        <table class="table">
                            <tr>
                                <td class="th_title">Embaixador</td>
                                <td class="th_title">Representado por</td>
                                <td class="th_title">Pontos</td>                        
                            </tr>

                            <tr ng-repeat="user in users | filter:search | limitTo:settings.pageLimit:settings.currentPage*settings.pageLimit">
                                <td>
                                    <!-- <span ng-show="user.position >= 1 && user.position <= 4" style="float:left;">
                                        <i class="fas fa-plane-departure"></i>
                                    </span> -->
                                    <!-- <span ng-show="user.position >= 5 && user.position <= 11" style="float:left;">
                                        <i class="fas fa-wine-bottle"></i>
                                    </span> -->
                                    {{user.company}}
                                </td>
                                <td>{{user.name}}</td>
                                <td>{{user.points}}</td>   
                            </tr>
                        </table>
                    </div>
                </div>

                <div class="row pagination">
                    <div class="col-12 text-center">
                        <i class="fa fa-angle-left prev" ng-click="prevPage()"></i>
                        <span>|</span>
                        <a href="#this" ng-repeat="page in settings.pages" ng-click="goToPage($index)" ng-class="{'current': settings.currentPage == $index}" class="number">
                            {{page}}
                        </a>
                        <span>|</span>
                        <i class="fa fa-angle-right next" ng-click="nextPage()"></i>
                    </div>
                </div>

                <!-- <div class="row">
                    <div class="col-md-6 mx-auto acompanhamento-legend">
                        <p><i class="fas fa-plane-departure"></i> - Ganhadores da Viagem</p>
                        <p><i class="fas fa-wine-bottle"></i> - Ganhadores da Adega</p>
                    </div>                    
                </div> -->
            </div>
        </section>
    </div>
</section>