.award {
	background-color:#f3f3f3;
	&__wrapper {
		position:relative;
		max-width:875px;
		margin:0 auto;
		padding:0 15px;
	}
	&__splash {
		width: 186px;
		height: 186px;
		object-fit: contain;
		border-radius:50%;
		box-shadow: 0 0 50px 0 rgba(245, 143, 144, 0.84);
		background-color: #f58f90;
		margin:0 auto;
		transform:translateY(-50%);
		@media(min-width:1250px){
			position:absolute;
			right:-137px;
			transform:translateY(-38%);
		}
		span {
			font-family:'SegoeUI-Bold', Arial, Helvetica, sans-serif;
			font-size: 15px;
			line-height: 1.67;
			text-align: center;
			color: #000;
		    display: block;
    		transform: translateY(48%);
    		text-transform:uppercase;
		}
	}
	&__list {
		margin-top:-60px;
		padding-bottom:48px;
		@media(min-width:460px){
			display:flex;
			flex-wrap: wrap;
		}
		@media(min-width:1250px){
			margin-top:0;
			padding-top:64px;
		}
	}
	&__item {
		position:relative;
		width:194px;
		height:210px;
		margin-left:33px;
		margin:0 auto 30px;
		@media(min-width:809px){
			margin-bottom:0;
		}
	}
	&__first-block {
		width:172px;
		height:182px;
		border:1px solid #000;
		font-family:'SegoeUI', Arial, Helvetica, sans-serif;
		font-size: 12px;
		line-height: 1.33;
		letter-spacing: 7.9px;
		text-align: left;
		color: #000;
		box-sizing:border-box;
		padding:15px 0 0 15px;
	}
	&__second-block {
		width:172px;
		height:148px;
		border:1px solid #000;
		font-family:'SegoeUI', Arial, Helvetica, sans-serif;
		font-size: 15px;
		line-height: 1.33;
		text-align: center;
		color: #000;
		box-sizing:border-box;
		position: absolute;
		bottom: 0;
		right: 0;
		padding-top:11px;
		strong {
			font-weight:bold;
		}
	}
	.orange {border-color:#f0797d;}
	.pink {border-color:#cb1c80;}
	.green {border-color:#16948b;}
}