.contador {
	padding: 20px 0 25px;
	background-image: linear-gradient(to top, #f58f90, #fde4e4 63%, #ffffff);
	border-top: 1px solid #ff9500;
	&__title {
		font-family:'SegoeUI-Bold', Arial, Helvetica, sans-serif;
		font-size: 14px;
		line-height: 1.33;
		letter-spacing: 6px;
		text-align: center;
		color: #000;
		text-transform:uppercase;
		padding:3px 0 12px;
		@media(min-width:600px){
			letter-spacing: 11px;
		}
	}
	&__container {
		position:relative;
		&:before {
			content:'';
			display:block;
			width:100%;
			height:4px;
			background-image: linear-gradient(to left, #c91881, #f0797d);
			z-index:2;
			position:absolute;
			top:50%;
			margin-top:-2px;
			@media(min-width:600px){
				height:6px;
				margin-top:-3px;
			}
		}
	}
	&__item {
		z-index:999;
		position: relative;
		padding:2px 7px 6px;
		margin-left:10px;

		font-family:'SegoeUI-Light', Arial, Helvetica, sans-serif;
		font-size: 2.1em;
		line-height:1;
		text-align: center;
		color: #000;
		border-radius:50%;
  		box-shadow: 0 0 25px 0 rgba(255, 196, 0, 0.65);
  		background-color: #fff;
  		&:first-child {
  			margin:0;
  		}
	}
}