@font-face {
    font-family:'new_york_largeregular';
    src:url('fonts/newyorklarge-regular-webfont.eot');
    src:url('fonts/newyorklarge-regular-webfont.eot?#iefix') format('embedded-opentype'),
        url('fonts/newyorklarge-regular-webfont.woff2') format('woff2'),
        url('fonts/newyorklarge-regular-webfont.woff') format('woff'),
        url('fonts/newyorklarge-regular-webfont.svg#new_york_largeregular') format('svg');
    font-weight:normal;
    font-style:normal;
}

$new-york: 'new_york_largeregular', Arial, sans-serif;
