.footer {
	background-color: #F4F3EE;
	&__container {
		display:flex;
		justify-content:space-between;
		align-items:center;
		height:70px;
		@media(min-width:768px){
			height:100px;
		}
	}
	&__logo {
		display:block;
	    max-width: 109px;
		@media(min-width:768px){
	    	max-width: 160px;
		}
	}
	&__link {
		display:block;
		font-family:'Montserrat', Arial, sans-serif;
		font-size: 12px;
		font-weight: 500;
		line-height: 25px;
		color: #000;
		@media(min-width:768px){
			font-size: 14px;
		}
		&:hover {
			color: #000;
			text-decoration:none;
		}
	}
}