.header {
	background-color:#fff;
	position:fixed;
	width:100%;
	transition:.3s;
	z-index:222!important;
	&.active {
		box-shadow: 0 -1px 1px 0 rgba(0,0,0,0.5), 0 4px 24px 0 rgba(37,38,94,0.1);
	}
	&__container {
		height:64px;
		width:100%;
		max-width:1200px;
		margin:0 auto;
		padding:0 20px;
		display:flex;
		justify-content:space-between;
		align-items:center;
		@media (min-width:768px) {
			height:100px;
		}
		@media (min-width:1240px) {
			padding:0;
		}
	}
}

.logo {
	&__image {
		display:block;
		width:80px;
		@media (min-width:400px) {
			width:120px;
		}
		@media (min-width:768px) {
			width:auto;
		}
	}
}

.navigation {
	&__list {
		display:flex;
		justify-content:space-between;
	}
	&__item {
		&:first-child {
			margin-right:15px;
		}
		@media(min-width:375px){
			&:first-child {
				margin-right:20px;
			}
		}
		@media(min-width:768px){
			&:first-child {
				margin-right:40px;
			}
		}
	}
	&__link {
		font-family:'Montserrat', Arial, sans-serif;
		font-size: 11px;
		line-height: 15px;
		font-weight: 500;
		color: #000;
		text-align:center;
		text-decoration:none;
		outline:none;
		cursor:pointer;
		display:block;
		&:hover {
			text-decoration:none;
			color: #000;
		}
		@media(min-width:375px){
			font-size:12px;
		}
		@media(min-width:768px){
			font-size: 13px;
			line-height:38px;
			font-weight: 600;
			width:145px;
			height:40px;
			border-radius:20px;
			transition:.3s;
			&.yellow {
				background-color: #EBAE50;
				border:1px solid #EBAE50;
				color:#fff;
				&:hover {
					color:#fff;
					box-shadow: 0 10px 20px 0 rgba(235,174,80,.3);
				}
			}
			&.white {
				background-color:#fff;
				border:1px solid #BEC7D1;
				color: #BEC7D1;
				&:hover {
					color: #000;
					background-color:#BEC7D1;
					box-shadow: 0 10px 20px 0 rgba(189,198,208,.5);
				}
			}
		}
	}
}