.promotion {
	.wrapper {
		position:relative;
		width:100%;
		max-width:808px;
		margin:0 auto;
	}
	p {
		font-family:'SegoeUI', Arial, Helvetica, sans-serif;
		font-size: 14px;
		line-height:19px;
		text-align: center;
		color: #7e7b7c;
		padding:30px 35px 40px;
		@media(min-width:768px){
			font-size: 15px;
			line-height: 2;
			padding:30px 20px 40px;
		}
	}
	&__box {
		position:relative;
		margin-bottom:140px;
    	max-width:300px;
    	margin-left:auto;
    	margin-right:auto;
    	@media(min-width:550px){
    		max-width:807px;
    		padding: 0 15px;
		}
		@media(min-width:837px){
			padding:0;
		}
		@media(min-width:1250px){
			margin-bottom:24px;
		}
	}
	&__bg {
		display:block;
		width:100%;
	}
	&__container {
		text-align:center;
		padding:0 40px;
		position: absolute;
    	top: 50%;
    	transform: translateY(-50%);
    	@media(min-width:551px){
    		padding:0 15%;
    	}
	}
	&__title {
		font-family:"SegoeUI-Light", Arial, Helvetica, sans-serif;
		font-size: 22px;
		font-weight: 300;
		letter-spacing: 3.6px;
		text-transform:uppercase;
  		color: #000;
  		margin-bottom:20px;
  		@media(min-width:551px){
  			font-size:30px;
  		}
	}
	&__description {
		font-family: "SegoeUI", Arial, Helvetica, sans-serif;
		font-size: 15px;
		line-height: 1.83;
		color: #000;
		&.dif {
			font-size:18px;
			text-transform:uppercase;
			font-weight:bold;
			@media(min-width:550px){
				font-size:16px;
				line-height:1.5;
			}
			@media(min-width:680px){
				font-size:18px;
				line-height:1.83;
			}
		}
	}
	&__button {
		display:inline-block;
		font-family:"SegoeUI-SemiBold", Arial, Helvetica, sans-serif;
		font-size: 12px;
		font-weight: 600;
		line-height: 1.33;
		text-transform:uppercase;
		letter-spacing: 1.4px;
		color: #000!important;
		background-color:#f58f90;
		border-radius: 29px;
		padding:13px 20px;
		margin:24px 0;
		transition:.2s;
		@media(min-width:551px){
			font-size: 16px;
    		padding:13px 30px;
    	}
    	&:hover {
			box-shadow: 12.7px 7.9px 29px 0 rgba(0, 0, 0, 0.32);
    		text-decoration:none;
			color:#000;
    	}
	}
	&__media {
		display: block;
		position: absolute;
		bottom: 0;
		left: -370px;
	}
}