.regulation {
	&__container {
		background:url(../images/bg_reg.svg) no-repeat center top transparent;
		margin-top:-135px;
		padding:240px 0 270px;
	    background-size: 450%;
    	background-size: cover;
		@media(min-width:500px){
			margin-top:-125px;
		}
		@media(min-width:768px){
			padding:310px 0 320px;
    		background-size:auto;
		}
		@media(min-width:1690px){
			padding:380px 0 390px;
    		background-size:100%;
		}
	}
	&__wrapper {
		position:relative;
		width:100%;
		max-width:900px;
		margin:0 auto;
		padding:0 35px;
		box-sizing:border-box;
		@media(min-width:768px){

		}
		@media(min-width:1080px){
			max-width:1080px;
		}
	}
	&__title {
		font-family: 'SegoeUI-Bold', Arial, Helvetica, sans-serif;
		font-size: 20px;
		line-height: 1.5;
		letter-spacing: 2px;
		text-align: center;
		color: #000;
		text-transform:uppercase;
		@media(min-width:768px) {
			font-size:33px;
			line-height:1;
			letter-spacing:4px;
		}
	}
	&__media {
		display:none;
		@media(min-width:1080px){
			display:block;
			position: absolute;
			right: 60px;
			top: 70px;
		}
	}
	&__description {
		font-family:'SegoeUI-Light', Arial, Helvetica, sans-serif;
		font-size: 14px;
		line-height: 2.14;
		text-align: left;
		color: #000;
		padding:30px 0 35px;
		@media(min-width:768px) {
			font-size:30px;
		}
		@media(min-width:820px) {
			padding:60px 0 35px;
		}
		strong {
			font-family:'SegoeUI-SemiBold', Arial, Helvetica, sans-serif;
			&:first-child {
				display:block;
				@media(min-width:768px) {
					display:inline;
				}
			}
		}
		span {
			@media(min-width:1080px){
				display:block;
			}
		}
	}
	&__link {
		display:block;
		width: 247px;
		border-radius: 43px;
		background-color: #fff;
		font-family:'SegoeUI-SemiBold', Arial, Helvetica, sans-serif;
		font-size: 12px;
		line-height: 0.67;
		letter-spacing: 1.4px;
		text-align: center;
		color: #000;
		margin:0 auto;
		padding:27px 0;
		text-transform:uppercase;
		transition:.2s;
		@media(min-width:768px){
			font-size: 23px;
			width:349px;
			padding:24px 0;
		}
		&:hover {
			box-shadow: 12px 8px 29px 0 rgba(0, 0, 0, 0.32);
			text-decoration:none;
			color:#000;
		}
	}
}