.slide {
	&__title {
		font-family: "New York Large";
		color: #000;
		font-size: 30px;
		font-weight: 600;
		line-height: 45px;
		text-align: center;
		@media(min-width:768px){
			font-size:52px;
			line-height:63px;
		}
	}
}

.slider {
	width: 100%;
	margin: 0 auto;
	// display: flex;
	// flex-direction:column;
	// flex-wrap: wrap;
	// justify-content: center;
	text-align: center;
	@media (min-width:1024px){
		flex-direction: row;
	}
	&.slick-slider{
		width:100%;
		display: block;
		margin: 0 auto;
		padding-bottom:30px;
		@media (min-width:950px){
		}
	}
	&__item {
		width:100%;
		margin: 0;
		position: relative;
	    outline: none;
	}
	&__image {
		display:block;
		width:100%;
		max-width:460px;
	    margin: 0 auto;
	}
	&__col {
		padding-bottom:25px;
	}
	&__title {
		color: #000;
		font-family:'new_york_largeregular', Arial, sans-serif;
		font-size: 20px;
		font-weight: 600;
		line-height: 30px;
		text-align: center;
		padding:50px 0 2px;
	}
	&__description {
		color: #9B9B9B;
		font-family:'Montserrat', Arial, sans-serif;
		font-size: 14px;
		font-weight: 500;
		line-height: 25px;
		text-align: center;
	}
	&__link {
		display:inline-block;
		margin:30px auto 0;
		height: 50px;
		padding:0 30px;
		background-color: #EBAE50;
		color: #FFF;
		font-family:'Montserrat', Arial, sans-serif;
		font-size: 14px;
		font-weight: 600;
		line-height: 50px;
		text-align: center;
		border-radius:30px;
		cursor:pointer;
		&:hover {
			color: #FFF;
			text-decoration:none;
		}
		@media(min-width:768px){
			transition:.3s;
			&:hover {
				box-shadow: 0 10px 20px 0 rgba(235,174,80,.3);
			}
		}
	}
	.slick-arrow {
		width:36px;
		height:36px;
	    border: 0;
    	outline: none;
	    text-indent: -9999px;
	    position:absolute;
	    bottom:0;
	    cursor:pointer;
	    background-color:#E1DED4;
	    border-radius:50%;
	    padding:0;
	    margin:0 5px;
		transform:translateX(0);
	}
	.slick-prev {
		background-image:none;
		left:50%;
		z-index: 99;
		&:after {
			content:'';
			display:block;
			height: 11px;
			width: 6px;
			border: 1px solid #000;
		}
	}
	.slick-next {
		background-image:none;
		right:50%;
		z-index: 99;
		&:after {
			content:'';
			display:block;
			height: 11px;
			width: 6px;
			border: 1px solid #000;
		}
	}
}