.video-area {
	background-color: #F4F3EE;
	padding-bottom:100px;
	@media(min-width:768px){
		padding:0;
	}
	&__container {
		@media(min-width:768px){
			display:flex;
			flex-direction:row;
			justify-content:space-between;
			align-items:center;
			padding:120px 0;
		}
	}
	&__title {
		color: #000;
		font-family:'new_york_largeregular', Arial, sans-serif;
		font-size: 30px;
		font-weight: 600;
		line-height: 45px;
		text-align: center;
		padding:50px 0 64px;
		@media(min-width:768px){
			width:40%;
			font-size: 52px;
			line-height: 63px;
		}
	}
	&__content {
		@media(min-width:768px){
			width:60%;
		}
		.video {
			position:relative;
			height:0;
			padding-top:56.25%;
			iframe {
				position:absolute;
				top:0;
				left:0;
				width:100%;
				height:100%;
			}
		}
	}
	&__link {
		display:block;
		margin:60px auto 0;
		height: 50px;
		width: 160px;
		background-color: #EBAE50;
		color: #FFF;
		font-family:'Montserrat', Arial, sans-serif;
		font-size: 14px;
		font-weight: 600;
		line-height: 50px;
		text-align: center;
		border-radius:30px;
		cursor:pointer;
		@media(min-width:768px){
			display:none;
		}
		&:hover {
			color: #FFF;
			text-decoration:none;
		}
	}
}